<%= form_for(@meal) do |f| %>

<div class="form-group">
  <%= text_field_tag "name", @meal.name, placeholder:"enter to create a meal name"%> </div>
   <%= label_tag "Name", "warnng:Name can not be empty" %>

</div>
  <br />
  <br />
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
