<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">

    <p><strong>Quantity:</strong>  <%= @order.quantity %></p>

    <% current_user.admin || current_user.orders.include?(@order) %>
      <%= link_to 'Edit', [:edit, @order] %></p>
   
  </div>
