
<%= form_for @order,:html => {:id => "new_order"} do |f| %>    
    <%= f.collection_select :meal, Meal.all, :id, :name %>
    <%= f.select :quantity, options_for_select(1..500), { prompt: "quantity" } %>
    <%= f.submit  %>
  </div>
<% end %>






