<div class="container"

<p id="notice"><%= notice %></p>
<br>

<h1 class='subtitle'>The Orders:</h1>

  <button id="orders-data">Get Orders</button>
  <div id="ajax-orders"></div>
  <p><%= link_to 'Add order', new_order_path %></p>