<div class="container"
<p id="notice"><%= notice %></p>
<br>
<div style="text-align:center;">
<body style="background-color:powderblue;">

<h1 style="color:orange;",class='subtitle'>The Orders:</h1>
  <button id="orders-data", style="background-color:orange;color:black;width:150px; height:40px">Get Orders</button>
  <div id="ajax-orders"></div>
  <button id="sort-orders">sort orders</button>

  <p><%= link_to 'Add order', new_order_path %></p>
  </body>
  </div>