<p id="notice"><%= notice %></p>

<div class="center">

  <div< class="info">
    <% if @user.admin %>
      <p><strong>ADMIN</strong></p>
    <% end %>
    <p><strong>User Name:</strong> <%= @user.name %></p>  
    <div class=" well col-sm-10">
    <div id="userOrdersInfo"class=" well col-sm-10">
    <h4>Your Orders:</h4>
    <% @user.orders.each do |order| %>
      <li><%= order.meal.name %></br>
      quantity: <%= order.quantity %></li>
    
     <br />
     <br />
   <% end %> </ol>
  </div>
  </div>
  
   