<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="http://vni.s3.amazonaws.com/140826085439737.png">
  </div>
  <h1 align="center">Welcome to the Delivery information page!</h1>
</div>
